@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Press+Start+2P&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}

/*elementos principais*/
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    grid-template-areas: 'title' 'tela';
    background-color: rgb(21, 32, 95);
}

#title{
    color: rgb(218, 212, 57);
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-align: center;

    grid-area: title;
    align-self: center;
    
}

#tela{
    background-color: deepskyblue;
    border: 1px solid rgb(26, 197, 32);
    grid-area: tela;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#bird{
    width: 50px;
    height: 35px;
    /*definindo a posição inicial*/
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

/* estilizando e organizando os canos*/
.canos{
    position: absolute;
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*ocupando os canos por padrão*/
    display: none;
}


.cano-superior{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cano-inferior{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    background: linear-gradient(rgb(6, 225, 14), #038203);
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid black;
}

.corpo{
    width: 100px;
    height: 120px;
    background: linear-gradient(to right, rgb(6, 225, 14), #038203);
    border-left: 2px solid black;
    border-right: 2px solid black;
}


/*score*/
#score{
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6em;
    color: white;
    z-index: 1;
}


